body{
	margin: 0;
    padding: 0;
    background: #efefef;
    font-size: 16px;
    color: white;
    font-family: sans-serif;
    font-weight: 300;
    background-image: url(img/bg.jpg);
    -webkit-background-size: cover;
    background-size: cover;
}

h1{
	 display: block;
    margin-bottom: 40px;
    font-size: 25px;
    color: #fff;
    text-align: center;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
}



table{
	color: white;
	border-radius: 25px;
	opacity: 0.9;
}

#button{
	margin-bottom: 28px;
    width: 60px;
    height: 32px;
    background: white;
    border: none;
    border-radius: 2px;
    color: green;
    font-family: sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    transition: 0.2s ease;
    cursor: pointer;
}

#button:hover, #button:focus{
	 background: #2bd12b;
    transition: 0.5s ease;
    color: white;
    border: 1px solid white;
}

input[type="text"],
input[type="password"]
{
    display: inline-block;
    box-sizing: border-box;
    margin-bottom: 10px;
    padding: 4px;
    width: 300px;
    height: 25px;
    border: none;
    outline: none;
    border-bottom: 1px solid #aaa;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 15px;
    transition: 0.2s ease;

}

select{
	display: inline-block;
	margin-right: 20px;
}

.dob{
	font-size: 15px;
	font-weight: 400px;
	font-family: sans-serif;
	position: absolute;
	left: 525px;
	top: 285px;

}

.day{
	position: absolute;
	left: 620px;
	top: 285px;
}

.month{
	position: absolute;
	left: 675px;
	top: 285px;

}

.year{

	position: absolute;
	top:285px;
	left: 770px;

}